<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OZW772_RMU720.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>


    <system.web>
    <globalization requestEncoding="windows-1251"/>
    <httpRuntime maxQueryStringLength="10000"/>
    <customErrors mode="Off"/>
    <sessionState mode="InProc" timeout="20000" cookieless="UseCookies"/>
  </system.web>

    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <OZW772_RMU720.Properties.Settings>
            <setting name="OZW772_RMU720_localhost_DataService" serializeAs="String">
                <value>http://localhost:8733/DataService/</value>
            </setting>
        </OZW772_RMU720.Properties.Settings>
    </applicationSettings>
</configuration>